@import '../../common.scss';

nav.navbar-default {
  background-color: #4abdac;
  font-size: 16px;
  margin: 0;
  border: 0;

  .navbar-nav {
    .active {
      a {
        background-color: #F7B733;
        color: $white;  

        &:focus, &:hover {
          background-color: #F7B733;
          color: $white;
        }
      }
    }

    li {
      a {
        color: $white;
        text-decoration: none;
        
        &:hover {
          background-color: #F7B733;
          color: $white;
        }   
      }
    }
  }
}
