.eventsList {
  display: inline-block;
  width: 900px;
} 

.no-events-message {
  text-align: center;
  margin-top: 130px;
}

.no-events-block.jumbotron {
  background-color: whitesmoke;
  height: 400px;
}
