$white: #ffffff;
$black: #000;
$blue: #337AB7;
$saffron: #F7B733;
$green-teal: #00897B;
$green-dark: #008000;
$green-ligth: #b3ffb3;
$puerto-rico: #4abdac;
$mint: #98ff98;
$tower-grey: #B0BEC5;
$light-grey: #eeeeee;
$border-radius: 5px;
$padding: 10px;
$border-puerto-rico: 2px solid $puerto-rico;
$border-green-dark: 2px solid $green-dark;
$text-indent: 1.5em;
$text-align: justify;
$font-size: 1.3em;
$line-height: 1.5;
$modal-backdrop-background: rgba(0, 0, 0, 0.5);
$blue: #66afe9;
$soft-red: #D9534F;

.btn.main-button {
  background-color: $puerto-rico;
  color: $white;

  &:hover {
    color: $puerto-rico;
    background-color: $white;
  }
}

.no-content-block.jumbotron {
  background-color: whitesmoke;
  height: 400px;
}

$border-puerto-rico: 2px solid $puerto-rico;
$margin-top: 10px;
