$white: #ffffff;
$black: #000;
$blue: #337AB7;
$saffron: #F7B733;
$green-teal: #00897B;
$green-dark: #008000;
$green-ligth: #b3ffb3;
$puerto-rico: #4abdac;
$mint: #98ff98;
$tower-grey: #B0BEC5;
$border-radius: 5px;
$padding: 10px;
$border-white: 2px solid $white;
$border-green-dark: 2px solid $green-dark;
$text-indent: 1.5em;
$text-align: justify;
$font-size: 1.3em;
$line-height: 1.5;
$modal-backdrop-background: rgba(0, 0, 0, 0.5);
$blue: #66afe9;
