@import './../../../styles/common';

.comment-head {
  color: $puerto-rico;
  margin-top: $margin-top;
}

.content {
  border-radius: $border-radius;
  border: 1px solid $light-grey;
}

a:hover, a:focus {
  cursor: pointer;
}

.messageBox {
  display: inline-block;
  min-width: 400px;
}

.message  {
  font-size: $font-size;
  display: inline;
}

.children {
  padding: 5px;
  margin-left: 25px;
  border-left: $border-puerto-rico;
}
img.avatar {
  margin: 0 5px;
  width: 55px;
  height: 55px;
  vertical-align: top;
}

.reply {
  border-top: 1px solid $tranquil;
  display: flex;
  color: $green-dark;
  background-color: $mint-cream;
}
