@import '../../common.scss';

$widthModalMessage: 400px;
$lefModalMessage: 30%;
$topModalMessage: 10%;
$positionModalMessage: absolute;
$paddingModalMessage: 30px;

#modal-container {
  position: $positionModalMessage; 
  left: $lefModalMessage;
  top: $topModalMessage;
  margin: $marginBase;
  width: $widthModalMessage;
  border: $borderTypeBase $borderWidthBase $green;
  border-radius: $borderRadiusBase;
  background-color: $mint;
  padding: $paddingBaseLadge;
  color: $black;
}

#modButton {
  border-color: $green;
}

#modButton:hover {
  border-color: $red;
}
