@import '../../common.scss';

#modal-container {
  margin: $margin;
  border: $border-green-dark;
  border-radius: $border-radius;
  background-color: $mint;
  padding: $padding;
  color: $green-dark;
}