{
   "extends": ["eslint:recommended", "google"],
   "env": {
     "es6": true,
     "node": true,
     "browser": true
    },
    "ecmaFeatures": {
      "jsx": true
    },
    "rules": {
       "quotes": [
          2,
          "single"
       ]
    }
}
