@import './../../../styles/common';
@import './../../../styles/modal';

.deleteEventModal {
  .modal-dialog {
    height: 260px;
    width: 460px;
  }
}

.deleteEventModalBodyHeader {
  text-align: center;
  color: #D9534F;
}
