@import '../../common.scss';

.avatar {
  background: url(../../../img/profile.svg);
  height: 45px;
  width: 45px;
  background-size: 100%;
  display: inline-block;
}

.profileDropDown {
  display: inline-block;
}

#basic-nav-dropdown {
  &:hover, &:focus {
    background-color: $blue;
  }
}

ul {
  .dropdown-menu {
    background-color: $lime;
  }
}
