@import '../../common.scss';

.avatar {
  background: url(../../../img/profile.svg);
  height: 35px;
  width: 35px;
  background-size: 100%;
  display: inline-block;
  margin-top: 8px;
}

.dropdown {
  display: inline-block;
  float: left;
  margin-top: 15px;
  margin-right: 15px;
}

#basic-nav-dropdown {
  background-color: $puerto-rico;

  &:hover, &:focus {
    background-color: $puerto-rico;
  }
}

ul {
  .dropdown-menu {
    background-color: #B0BEC5;
    border-radius: 0;
  }
}
