@import '../../../styles/common';

.eventsDetails {
  position: relative;
  display: inline-block;
  width: 900px;
}

.btn.guests-delete-btn {
  padding: 1px 6px;
}

.list-group-item {
  color: $black;
}

.event-caption {
  font-weight: bold;
  margin-right: 10px;
}

.btn.current-guest-status-btn,
.btn.current-guest-status-btn:focus {
  background: $puerto-rico;
}

.btn.guest-status-btn {
  width: 120px;

  .glyphicon {
    margin-right: 5px;
  }
}

.label.guest-status-label {
  padding: 6px 10px;
  font-size: 13px;
  margin-right: 10px;

  &.going {
    background: $puerto-rico;
  }

  &.notgoing {
    background: $saffron;
  }

  &.undecided {
    background: $tower-grey;
  }
}
