@import '../../common.scss';

#modal-container {
  position: $position1; 
  left: $left1;
  top: $top1;
  margin: $margin1;
  width: $conteiner-width1;
  border: $border-type1 $border-width1 $border-colorG1;
  border-radius: $border-radius1;
  background-color:$background-color1;
  padding: $padding1;
  color: $text-colorB1;
}

#modButton {
	border-color: $border-colorG1;
}

#modButton:hover {
	border-color: $border-colorR1;
}
