@import '../../../styles/common';

.containerLog {
  border: $border-puerto-rico;
  border-radius: $border-radius;
  padding: $padding;
  max-width: 300px;
  width: 100%;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 10px auto;
}

.signup-button {
  &:hover {
    text-decoration: none;
  }
  .btn {
    background-color: $white;
    color: $puerto-rico;
    border-color: $puerto-rico;

    &:hover {
      color: $white;
      background-color: $puerto-rico;
    }
  }
}
