@import './../../../styles/common';
@import './../../../styles/modal';

.editEventModal {
  .modal-dialog {
    height: 440px;
  }
}

.modal-title {
  color: $white;
}

.dateTimePickerField {
  .input-group {
    .form-control {
      background-color: $white;
    }
  }
}
