@import '../../../styles/common';

.contacts-btn {
  padding: $padding;
  margin: 10px;
}

.mainText, .titleContacts {
  padding-right: 15px;
}

.textarea {
  height: 200px;
}

.map {
  margin: 5px auto;
}

.form-control {
  resize: none;
}

.formContacts {
  margin-top: 5px;
}
