$green: #008000;
$red: #FF0000;
$mint: #98ff98;
$black: #000000;
$white: #FFFFFF;
$lightseagreen: #20B2AA;
$borderTypeBase: solid;
$borderWidthBase: 2px;
$borderRadiusBase: 5px;
$borderRadiusBaseMiddle: 25px;
$marginBase: auto;
$paddingBaseSmall: 5px;
$paddingBaseMiddle: 10px;
$paddingBaseLadge: 30px;
