$white: #ffffff;
$green-dark: #008000;
$green-ligth: #b3ffb3;
$mint: #98ff98;
$border-radius: 5px;
$padding: 10px;
$border-white: 2px solid $white;
$border-green-dark: 2px solid $green-dark;
$margin: auto;
