$border-type-solid: solid;
$border-width-two: 2px;
$border-color-green: green;
$border-color-red: red;
$background-color-mint: #98ff98;
$text-color-black: black;
$conteiner-width-modalMessage: 400px;
$left-modalMessage: 30%;
$top-modalMessage: 10%;
$padding-thirty: 30px;
$margin-auto: auto;
$border-radius-five: 5px;
$position-absolute: absolute;
$base-width-registration: 250px;
$border-radius-twentyFive: 25px;
$border-color-white: white;
$background-color-lightseagreen: #20B2AA;
$container-width-registration: 300px;
$padding-ten: 10px;
$padding-five: 5px;
