@import '../../../styles/common';

@media screen and (min-width: 991px) {
  .login {
    top: 100px;
  }
}

@media screen and (max-width: 991px) {
  .login {
    top: 0;
  }
}

.background-gift-image {
  height: 900px;
  position:relative;
  overflow:hidden;
  background-size: 100% 100%;
  background: 
    linear-gradient(
      rgba(0, 0, 0, 0.1),
      rgba(0, 0, 0, 0.5)
      ),
      url(../../../img/Christmas-gift-box-vector-seamless-pattern-vector-02.jpg)
}

.background-block {
  background: rgba(255, 255, 255, 0.75);
  position: relative;
  top: 30px;
}

.home-image-block {
  margin: 10px;
  width: 810px;
  height: 550px;
  float: left;
  background-size: cover;
  position: relative;
}

.about-text {
  position: absolute;
  left: 10px;
  background: rgba(255, 255, 255, 0.75);
  color: $black;
  padding: 4px 8px;
  margin: 0;
  font: 14px Sans-Serif;
}
