@import '../../../styles/common';

$list: gift, Maryana, Denis, Ivan, Vanja, Yulya, Yura, Andriy;

@each $author in $list {
  #photo-#{$author} {
    background: url('../../../img/#{$author}.svg') no-repeat;
    width: 100%;
  }
}

#photo-gift {
  height: 350px;
  max-width: 350px;
  margin: 0 auto;
}

 #gift {
  padding: 15px;
 }
 
.team {
  height: 170px;
  max-width: 170px;
}

.text {
  text-align: $text-align;
  font-size: $font-size;
  line-height: $line-height;
  text-indent: $text-indent;	
}
