@import '../../common.scss';

#gift {
  background: url('../../../img/gift.svg');
  height: 450px;
  max-width: 450px;
  width: $width-100;
  background-repeat: $background-repeat;
  }

#Maryana {
  background: url('../../../img/Maryana.svg');
}

#Denis {
  background: url('../../../img/Denis.svg');
}

#Ivan {
  background: url('../../../img/Ivan.svg');
}

#Vanja {
  background: url('../../../img/Vanja.svg');
}

#Yulya {
  background: url('../../../img/Yulya.svg');
}

#Yura {
  background: url('../../../img/Yura.svg');
}

#Andriy {
  background: url('../../../img/Andriy.svg');
}

#Maryana, #Denis, #Ivan, #Vanja, #Yulya, #Yura, #Andriy {
  height: 170px;
  max-width: 170px;
  width: $width-100;
  background-repeat: $background-repeat;  
}

.textTeam, .textAbout {
  text-align: $text-align;
  font-size: $font-size;
  line-height: $line-height;	
}

.textAbout{
  text-indent: $text-indent;	
}

.textTeam {
  text-indent: 3em;
}

