.gift-caption {
  font-weight: bold;
  margin-right: 10px;
}

.gift-image {
  background-repeat: no-repeat;
  background-size: 100%;
  display: inline-block;
  height: 200px;
  margin-right: 20px;
  width: 280px;
}

.desc-block {
  display: inline-block;
  margin: 0;
  min-width: 200px;
  vertical-align: top;
  width: auto;
}
