.no-avatar {
  background: url(../../../img/profile.svg);
  height: 100px;
  width: 100px;
  background-size: 100%;
  display: inline-block;
}
#img-circle-avatar {
  border-radius: 50%;
  width: 250px;
  height: 250px;
}

Form {
  display: block;
  padding: 35px;
}
